@import "fonts";

body {
	background-color: #ccc;
	font-family: CormorantUpright;
	font-size: 50px;
	//background: url("@img/1.jpg") 0 0 no-repeat;
	span {
		color: red;
	}
}

@media (max-width: 768px) {
	span {
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	body {
		background-color: green;
	}
}
